@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  background-color: #e5e5e5;
}

header {
  background-color: #fff;
}

.hambuger {
  display: flex;
  flex-direction: column;
}

.bar {
  display: block;
  width: 34px;
  height: 3px;
  background-color: #163ae3;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
  margin-top: 15px;
  animation: logo 1 5s;
}

@keyframes logo {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.for-logo a {
  width: 76px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
}

.pics {
  border-bottom-left-radius: 80px;
  background-image: url("img/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  padding: 5rem 1.25rem 15rem;
  background-color: #fff;
  background-position-x: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding: 0.6em;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  font-style: normal;
}

.connect {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 3%;
}

.connect a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.connect ul li a {
  text-decoration: none;
  display: block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  height: 24px;
  flex: none;
}

.social-icons {
  display: flex;
  gap: 23px;
}

.social-icons img {
  height: 20px;
  width: 20px;
}

.social-icons li {
  list-style: none;
  transition: all 0.3s ease-in-out;
}

.grid {
  background-color: #e5e5e5;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}

.work-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 375px;
  margin-left: 25px;
  gap: 24px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  margin-top: 100px;
  background-color: #fff;
}

.work-card:nth-of-type(2),
.work-card:nth-of-type(3),
.work-card:nth-of-type(4) {
  margin-top: 85px;
  border-radius: 20px;
}

.work-card img {
  width: 295px;
  height: 220px;
  background: url(blog_drbl_4x.png);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.work-card1 h2 {
  width: 295px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.work-card1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.icon {
  display: flex;
  gap: 23px;
}

.icon img {
  height: 20px;
  width: 20px;
}

.icon li {
  list-style: none;
}

.canopy {
  display: flex;
  padding: 8px 0;
  width: 100%;
  gap: 12px;
  align-items: center;
}

.canopy .canopy-p {
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 16px;
  color: #344563;
  font-size: 13px;
}

.tonic-class {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.tonic-class p {
  font-size: 13px;
  color: #7a869a;
  padding: 8px 0;
  font-weight: 600;
  line-height: 16px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

.round {
  width: 10px;
  height: 10px;
  background-color: #c1c7d0;
  border-radius: 500%;
}

.daily p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.d-text {
  width: 295px;
  height: 76px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.canopy span {
  width: 55px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.canopy li {
  width: 88px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.lang {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  display: flex;
  gap: 12px;
  margin: 12px 0;
  flex-direction: row;
}

.lang li {
  padding: 4px 12px;
  border-radius: 8px;
  background-color: #ebebff;
  font-size: 12px;
  color: #6070ff;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.lang-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #01f;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.lang-item1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  color: #01f;
  width: 95px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.lang-item2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  color: #01f;
  width: 107px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: 24px;
  padding: 12px;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  transition: all 0.3s ease-in-out;
  padding-left: 20px;
}

.is-me {
  padding-top: 100px;
  padding-left: 20px;
  border-top-right-radius: 80px;
}

.lang-icon {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11px;
  margin: 30px 10px;
}

.languages {
  align-items: center;
  padding: 24px;
  gap: 12px;
  background: #f7f7f9;
  border-radius: 8px;
}

.languages_details {
  font-family: "Poppins", sans-serif;
  display: flex;
  text-align: center;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 8px;
  padding: 0.5em;
  background-color: #f7f7f9;
  margin-top: 0.5em;
}

.languages_details p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.lang-p {
  font-size: 15px;
  color: #253858;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.icon_one {
  width: 90%;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11px;
  margin: 30px 10px;
}

h4 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.lang-icon h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: "poppins", sans-serif;
}

.icon_one h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

/* hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}
*/
.fa-solid,
.fas {
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
}

.card-tags {
  color: #6070ff;
}

/* -----------About Section------------ */
.about {
  border-top-right-radius: 80px;
  margin-top: 100px;
}

.span {
  display: inline-block;
}

.knowdge {
  margin-top: 24px;
  gap: 12px;
}

.know-text {
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  color: #000;
  font-weight: 500;
  width: 100%;
  padding: 24px 42px 36px 0;
}

.self {
  margin: 12px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.about-text {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  max-width: 50%;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  background: #fff;
}

ul.list-items.skill-items {
  margin-top: 12px;
  gap: 24px;
}

.job-text {
  font-size: 15px;
  color: #253858;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  padding-left: 25px;
}

.know-line {
  font-weight: 500;
  color: #5e6c84;
  transform: rotate(90deg);
}

.know-list {
  align-items: center;
  padding: 24px;
  gap: 12px;
  background: #f7f7f9;
  border-radius: 8px;
}

.know-sec {
  gap: 12px;
}

.arrow-line {
  color: #dfe1e6;
}

.about-me {
  background-color: #fff;
  border-top-right-radius: 80px;
}

.gap ul {
  list-style-type: none;
}

.intro-connect {
  margin-top: 10px;
}

.button-5 {
  padding-left: 10px;
}

form {
  display: block;
  margin: 0;
}

.form-class {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  align-items: center;
}

.form-btn {
  color: #6070ff;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px;
  margin-top: 12px;
  cursor: pointer;
}

.form-btn:hover {
  color: #fff;
  background-color: #6070ff;
  border: 2px solid #fff;
}

.contact-info {
  display: flex;
  align-items: center;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  margin-top: 12px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding-left: 10px;
}

.text-input {
  font-family: "poppins", sans-serif;
  font-size: 17px;
  font-weight: 400px;
  width: 327px;
  height: 170px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-top: 12px;
  padding-left: 10px;
}

.Contact-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ebebff;
  margin-top: 12px;
  font-style: normal;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.Contact-me p {
  /* display: block; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0; */
}

.Contact-section {
  background-image: url("img/contact\ form\ shapes-mobile@2x.png");
  background-size: 250px;
  background-position-x: right;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  background-color: #6070ff;
  background-repeat: no-repeat;
  margin-top: 128px;
  padding: 103px 24px;
  border-radius: 80px 0 0 0;
}

.Contact-head {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 12px;
  text-align: center;
}

.Contact-me h2 {
  display: block;
  font-size: 40px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

.navbar-list {
  gap: 20px;
  margin-right: 45px;
  margin-top: 20px;
  display: none;
}

.navbar-list li {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .pics {
    background-image: url(img/Desktop\ Header\ bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 249px;
    padding-left: 260px;
    padding-right: 260px;
    border: 1px solid #ebebff;
    border-top: hidden;
    border-bottom-left-radius: 96px;
  }

  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-left: 155px;
  }

  .bar {
    display: none;
  }

  .navbar-list {
    display: flex;
    gap: 20px;
    margin-right: 142px;
    padding-top: 16px;
    padding-bottom: 26px;
    background-color: #fff;
  }

  .navbar-list li a {
    text-decoration: none;
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 20px;
  }

  .nav-bar {
    height: 72px;
    background-color: #fff;
    border-style: hidden;
  }

  .social-icons {
    padding-bottom: 36px;
  }

  /* || WORKS STYLING */

  .work-card {
    flex-direction: row;
    width: 1156px;
    height: 496px;
    gap: 30px;
    justify-content: space-between;
    border: 1px solid #fff;
    cursor: pointer;
  }

  .work-card3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    margin-bottom: 135px;
  }

  /* .work-card:nth-of-type(4n) {
    flex-direction: column;
    width: 700px;
    gap: 30px;
    justify-content: space-between;
    border: 1px solid #fff;
    cursor: pointer;
  } */

  .work-card:hover {
    border-color: #01f;
  }

  button {
    font-size: 14px;
    padding: 7px 10px;
  }

  button:hover {
    background-color: #01f;
    color: #fff;
  }

  .work-card1:hover .card-description > button {
    background-color: #01f;
    color: #fff;
  }

  .work-card img {
    height: 448px;
    width: 544px;
    object-fit: unset;
  }

  .work-card1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    margin-bottom: 135px;
  }

  .work-card1 > h2 {
    font-size: 40px;
    font-weight: 700;
    width: 100%;
  }

  .work-card1 > p {
    line-height: 20px;
    font-size: 14px;
  }

  .work-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .lang-item {
    font-size: 12px;
  }

  /* Components and Buttons */

  /* || ABOUT PAGE STYLING */

  .about-me {
    display: grid;
    grid-template-columns: 45% 55%;
  }

  .is-me {
    margin-left: 132px;
  }

  .know-flex {
    margin-right: 68px;
  }

  .works-title-2 {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .know-sec {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 12px;
  }

  .gap {
    padding-bottom: 200px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .know-list {
    display: block;
    width: 122px;
    height: 120px;
  }

  .text {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .know-text {
    list-style-type: none;
  }

  #languages {
    margin-top: 80px;
  }

  .know-line {
    margin-top: 64px;
  }

  /* || CONTACT PAGE STYING */

  .Contact-section {
    background-image: url(img/Desktop\ contact\ form\ background\ shapes@2x.png);
    background-size: 90%;
    align-items: center;
    margin-top: 0;
  }

  .Contact-paragraph {
    padding-left: 360px;
    padding-right: 360px;
  }

  .form-class {
    align-items: center;
  }

  .contact-info {
    border-radius: 0;
    margin-top: 10px;
    width: 400px;
  }

  .text-input {
    border-radius: 0;
    width: 400px;
  }

  .form-btn {
    margin-left: 145px;
    margin-top: 39px;
  }

  .knowdge ul {
    list-style: none;
  }

  .social-icons li:hover {
    transform: translateY(-10px);
  }
}
